---
import { siteConfig } from '@/data/site.config'
import TwitterColorIcon from './icons/TwitterColorIcon.astro'
import LinkedinColorIcon from './icons/LinkedinColorIcon.astro'
const message = siteConfig.shareMessage

const URL = Astro.url.href
---

<div class='flex flex-col gap-2'>
	<ul class='flex gap-3 text-black dark:text-white'>


	</ul>
</div>
